.accordion {
  margin: 10px;
}

.header {
  background-color: rgb(163, 223, 167);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
}

.dropIconContainer {
  cursor: pointer;
}

.dropIcon {
  font-size: 40px;
}

.main {
  margin: 10px;
}
